body {
	background: #f4f4f4 url(../img/background.png);
	font-family: Helvetica Neue, Helvetica, Arial;
}

.page_title {
	font-size: 48px;
	font-family: Century Gothic, Helvetica Neue, Helvetica, Arial;
	font-weight: normal;
	color: #2b2b55;
}

.sidebar {
	width: 200px;
	background: #fff;
	float: left;
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	padding: 15px 0 30px 30px;
	border-right: 1px solid #BBB;
	box-shadow: 0 0 20px #CCC;
	-webkit-box-shadow: 0 0 20px #CCC;
	-moz-box-shadow: 0 0 20px #ccc;
	font-size: 14px;
	line-height: 22px;
}
.interface {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif !important;
}

.container {
	position: relative;
	width: 550px;
	margin: 30px 60px 30px 260px;
	font-size: 14px;
	line-height: 22px;
}

.container p {
	margin: 25px 0;
}

.container p.important {
	color: #7A1212;
}

.container a {
	text-decoration: underline;
	color: #444;
}

.container ul {
	list-style: circle;
	padding-left: 15px;
	line-height: 18px;
	font-size: 12px;
}

.container ul li {
	list-style: circle;
	margin-bottom: 10px;
}

.container b.header {
	font-size: 18px;
	line-height: 35px;
	margin-right: 20px;
}

.container .image_present {
	text-align: center;
	box-shadow: 0 0 20px #CCC;
	-webkit-box-shadow: 0 0 20px #CCC;
	-moz-box-shadow: 0 0 20px #ccc;
	padding: 20px 0;
}

.container pre {
	border: 4px solid #bbb; border-top: 0; border-bottom: 0;
	font-size: 12px;
}

.container input[type="text"] {
	display: inline-block;
	height: 20px;
	padding: 4px 6px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
	color: #555555;
	vertical-align: middle;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}

div.run {
	position: absolute;
	right: 15px;
	width: 26px; height: 18px;
	background: url('../img/arrows.png') no-repeat -26px 0;
}
div.run:active {
	background-position: -51px 0;
}

h2.con_title {
	font-size: 22px;
	font-weight: bold;
	margin: 10px 0;
	padding-top: 20px;
}

a.toc_title, a.toc_title:visited {
	display: block;
	color: black;
	font-weight: bold;
	margin-top: 15px;
	text-decoration: underline;
}
a.toc_title:hover {
	text-decoration: underline;
}
ul.toc_section {
	font-size: 11px;
	line-height: 14px;
	margin: 5px 0 0 0;
	padding-left: 0px;
	list-style-type: none;
	font-family: Lucida Grande;
}
.toc_section li {
	cursor: pointer;
	margin: 0 0 3px 0;
}
.toc_section li a {
	text-decoration: none;
	color: black;
}
.toc_section li a:hover {
	text-decoration: underline;
}

@media only screen and (-webkit-max-device-pixel-ratio: 1) and (max-width: 600px),
	only screen and (max--moz-device-pixel-ratio: 1) and (max-width: 600px) { 
	.sidebar {
		display: none;
	}

	div.container {
		width: auto;
		margin-left: 15px;
		margin-right: 15px;		
	}
	.container p, div.container ul {
		width: auto;
	}
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 640px),
	only screen and (-o-min-device-pixel-ratio: 3/2) and (max-width: 640px),
	only screen and (min-device-pixel-ratio: 1.5) and (max-width: 640px) {
	img {
		max-width: 100%;
		height: auto;
	}
	div.sidebar {
		-webkit-overflow-scrolling: initial;
		position: relative;
		width: 90%;
		height: 120px;
		left: 0;
		top: -7px;
		padding: 10px 0 10px 30px;
		border: 0;
	}
	div.container {
		margin: 0;
		width: 100%;
	}
	.container p, div.container ul {
		max-width: 98%;
		overflow-x: scroll;
	}
	.container pre {
		overflow: scroll;
	}
}
